.container{
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
position: absolute;
gap:20px;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.title{
text-align: center;
font-weight: 400;
}

.par{
font-size: 15px;
color: grey;
}

.btn{
border:none;
background-color:brown;
color:white;
padding:10px 20px;
border-radius:5px;
cursor:pointer;
font-size: 15px;
}

h1,p{
    margin:0;
    padding: 0;
}